**1 Hello World**

In [ ]:
print ("Hello World")

Hello World

**2.1 Add two numbers**

In [ ]:
a = 18
b = 6
c = a + b
print (a, " + ", b, " = ", c)

18  +  6  =  24

**2.2 Concatinate two strings**

In [ ]:
a = "Keshav"
b = "Karn"
c = a + b
print (a, " + ", b, " = ", c)

Keshav  +  Karn  =  KeshavKarn


**2.3 Concatinate string with number**

In [ ]:
a = "Keshav"
b = 7
c = a + str(b)
print (a, " + ", b, " = ", c)

Keshav  +  7  =  Keshav7

**3.1 Input two strings from user and concatinate them**

In [ ]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b
print  (a, " + ", b, " = ", c)


**3.2 Input two numbers from user and add them**

In [ ]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c = a + b
print (a, " + ", b, " = ", c)

**4.1: WAP to print the table of 7, 9.**

In [ ]:
def print_table(num):

  print(f"Multiplication table of {num}:")
  for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")
  print("\n")

# Print the tables for 7 and 9
print_table(7)
print_table(9)

**4.2: WAP to print the table of n and n is given by user.**

In [ ]:
def print_table(n):

  print(f"Multiplication table of {n}:")
  for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")
  print("\n")

# Get input from the user
n = int(input("Enter a number: "))

# Print the table
print_table(n)

**4.3: WAP to add all the numbers from 1 to n and n is given by user.**

In [ ]:
def sum_of_numbers(n):

  total_sum = 0
  for i in range(1, n + 1):
    total_sum += i
  return total_sum

# Get input from the user
n = int(input("Enter a number: "))

# Calculate and print the sum
result = sum_of_numbers(n)
print(f"The sum of numbers from 1 to {n} is: {result}")

**5.1: WAP to find max amoung three numbers and input from user. [Try max() function]**

In [ ]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))


maximum = max(num1, num2, num3)


print("The maximum number is:", maximum)

**5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.:**

In [ ]:
n = int(input("Enter the value of n: "))

total_sum = 0

for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0:
        total_sum += i

print(f"The sum of all numbers divisible by 7 and 9 from 1 to {n} is: {total_sum}")

**6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.**

In [ ]:
def sum_of_odds(n):
    total_sum = 0
    for i in range(1, n + 1, 2):
        total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))
result = sum_of_odds(n)
print(f"The sum of all odd numbers from 1 to {n} is: {result}")

 **6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.**

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum_of_primes(n):
    total_sum = 0
    for i in range(1, n + 1):
        if is_prime(i):
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))
result = sum_of_primes(n)
print(f"The sum of all prime numbers from 1 to {n} is: {result}")

**7. Use math library**

In [ ]:
import math

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:
            return False
    return True

def sum_of_primes(n):
    total_sum = 0
    for i in range(1, n + 1):
        if is_prime(i):
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))
result = sum_of_primes(n)
print(f"The sum of all prime numbers from 1 to {n} is: {result}")

**8.1 Indexing in string**

In [ ]:
text = "Python"
print(text[1:4])
print(text[:3])
print(text[2:])
print(text[::2])

**8.2 String length, upper, lower**

In [ ]:
# Input string
text = input("Enter a string: ")

# String length
length = len(text)
print(f"Length of the string: {length}")

# Convert to uppercase
uppercase_text = text.upper()
print(f"Uppercase: {uppercase_text}")

# Convert to lowercase
lowercase_text = text.lower()
print(f"Lowercase: {lowercase_text}")


**8.3 String formatting**

In [ ]:
from string import Template

template = Template("My name is $name and I am $age years old.")
formatted = template.substitute(name="Keshav", age=18)
print(formatted)


**8.4 String in Triple Quotes**

In [ ]:
text = """This is a multi-line string.
It spans across several lines.
Triple quotes make it easy!"""
print(text)


**8.5 String strip**

In [ ]:
text = "   Hello, World!   "
stripped_text = text.strip()
print(f"'{stripped_text}'")


**8.6 String split**

In [ ]:
text = "apple,banana,cherry"
fruits = text.split(",")
print(fruits)

**8.7 Count in string**

In [ ]:
text = "apple, banana, apple, orange"
count_apple = text.count("apple")
print(count_apple)


**8.8 Reverse a String**

In [ ]:
text = "Python"
reversed_text = text[::-1]
print(reversed_text)


**8.9 Palindrome**

In [ ]:
def is_palindrome(text):
    return text == text[::-1]

# Test
text = "madam"
print(is_palindrome(text))

text = "hello"
print(is_palindrome(text))

**9.1 Generate random number between 0 and 1**

In [ ]:
import random

# Generate a random number between 0 and 1
random_number = random.random()
print(random_number)


**9.2 Generate random integer number**

In [ ]:
import random

# Generate a random integer between 100 and 200
random_integer = random.randint(100, 200)
print(f"Random integer between 100 and 200: {random_integer}")

**9.3 Generate random real number**

In [ ]:
import random

# Generate a random real number between 1 and 10
random_real_number = random.uniform(1, 10)
print(random_real_number)


**9.4 Select sample from a list of elements**

In [ ]:
import random

# Sample 3 elements from a list
elements = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sample = random.sample(elements, 3)
print(sample)


**9.5 Generate random string**

In [ ]:
import random
import string

def generate_random_string(length=8):
    return ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length))

# Test the function
random_string = generate_random_string(12)
print(f"Random String: {random_string}")


**9.6 Generate random digits**

In [ ]:
import random

def generate_otp(length=6):
    return ''.join([str(random.randint(0, 9)) for _ in range(length)])

# Test the function
otp = generate_otp(8)  # Generate an 8-digit OTP
print(f"Generated OTP: {otp}")

**9.7 Generate random string + digits**

In [ ]:
import random
import string

def generate_random_string(length=12):
    return ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length))

# Generate a random string of length 12
random_string = generate_random_string(12)
print(f"Generated random string: {random_string}")

**10.1 Error Generation**

In [ ]:
def divide_numbers(a, b):
    if b == 0:
        raise ZeroDivisionError("Cannot divide by zero.")
    return a / b

try:
    result = divide_numbers(10, 0)
except ZeroDivisionError as e:
    print(f"Caught an error: {e}")


**10.3 Exception handaling for array out of index**

In [ ]:
def access_element(arr, index):
    try:

        return arr[index]
    except IndexError:

        print(f"Error: Index {index} is out of range for the array.")
        return None

arr = [10, 20, 30, 40, 50]

result = access_element(arr, 10)
print(result)


**10.4 Exception handaling for file not found**

In [ ]:
def read_file(file_path):
    try:
        # Try to open the file in read mode
        with open(file_path, 'r') as file:
            content = file.read()
            print(content)
    except FileNotFoundError:
        # Handle the exception if the file is not found
        print(f"Error: The file '{file_path}' was not found.")
    except Exception as e:
        # Handle any other unexpected exceptions
        print(f"An unexpected error occurred: {e}")

# Test the function with a file that doesn't exist
file_path = 'non_existent_file.txt'
read_file(file_path)


**10.5 Exception handaling for file not found**

In [ ]:
def read_file(file_path):
    try:
        # Try to open the file in read mode
        with open(file_path, 'r') as file:
            content = file.read()
            print(content)
    except FileNotFoundError:
        # Handle the exception if the file is not found
        print(f"Error: The file '{file_path}' was not found.")
    except Exception as e:
        # Handle any other unexpected exceptions
        print(f"An unexpected error occurred: {e}")

# Test the function with a file that doesn't exist
file_path = 'non_existent_file.txt'
read_file(file_path)

**11.1 List Declaration**

In [ ]:
mixed_list = [1, "apple", 3.14, True]
print(mixed_list)

**11.2 List Iteration**

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits:
    print(fruit)

**11.3 List Iteration using for loop**

In [ ]:
mixed_list = [1, "apple", 3.14, True]

for item in mixed_list:
    print(f"Item: {item}, Type: {type(item)}")

**11.4 List Iteration using for loop**

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(f"Square of {number} is {number ** 2}")

**11.5 Adding and deleting from list**

In [ ]:
L = ["Keshav",  'Karn', 34,  14 ]
print ("Original List       = ", L)

L.append("Ujjwal")
print ("List After Adding   = ", L)

del L[1]
print ("List After Deleting = ", L)

**11.6 Sum/Average of List**

In [ ]:
L=[10, 20, 30, 45, 55, 65, 85]
print ("Original List = ", L)

print ("Sum     = ", sum(L))
print ("Average = ", sum(L)/len(L))
print ("Average = ", sum(L)//len(L))

print ("L * 3   = ", L * 3)
print ("L + L   = ", L + L)

**11.7 Min/Max/Sort the list**

In [ ]:
L=[5, 8, 7, 42, 85, 34, 42]
print ("Original List = ", L)

print ("max = ", max(L))
print ("min = ", min(L))

print ("\nBefore Sort = ", L)
L.sort()

print ("After Sort (Asending)  = ", L)

L.sort(reverse=True)
print ("After Sort (Desending) = ", L)

11.8 Merge lists and select elements

In [ ]:
A1 = [4, 8, 12]
A2 = [1, 7, 5, 9]
A3 = A1 + A2
print("A1 --> ", A1)
print("A2 --> ", A2)
print("A3 --> ", A3)

print("\nA3[1:]  --> ", A3[1:])
print("A3[1:4] --> ", A3[1:4])
print("A3[:-2] --> ", A3[:-2])
print("A3[::3] --> ", A3[::3])

**11.9 Multiply all elements of the list by a constant**

In [ ]:
M = [10, 4, 6, 8, 3]
print("Original List --> ", M)

newM = [i + 3 for i in M]
print("After Adding a constant --> ", newM)

**11.10 Searching in the list**

In [ ]:
M = [8, 2, 5, 11, 9, 4, 7]
print("Original List --> ", 5 in M)
print("Original List --> ", 15 in M)
print("Original List --> ", 8 in M)

if (5 in M) == True:
    print("Present")
else:
    print("Not Present")

if 15 in M == False:
    print("Not Present")
else:
    print("Present")

**12.1 Declare Dictionary**

In [ ]:
Grades = {101: 7.5, 102: 8.3, 103: 6.9, 105: 9.0, 108: 5.8}
print("Dictionary      --> ", Grades)
print("Num of elements --> ", len(Grades))

print("Grade of 101    --> ", Grades[101])
print("Grade of 103    --> ", Grades[103])
print("Grade of 105    --> ", Grades[105])

# Safely checking for a key to avoid KeyError
key = 104
if key in Grades:
    print(f"Grade of {key}    --> ", Grades[key])
else:
    print(f"Grade of {key}    --> Key not found")

**12.2 Triverse dictionary**

In [ ]:
Grades = {101: 7.5, 102: 8.3, 103: 6.9, 105: 9.0, 108: 5.8}
for student_id in Grades:
    print("Grade of", student_id, "-->", Grades[student_id])

**12.3 Getting Keys and Values**

In [ ]:
Grades = {101: 7.5, 102: 8.3, 103: 6.9, 105: 9.0, 108: 5.8}
print("Dictionary --> ", Grades)
print("Keys       --> ", list(Grades.keys()))
print("Values     --> ", list(Grades.values()))

**12.4 Updating, Adding and Deleting from Dictionary**

In [ ]:
Grades = {101: 7.5, 102: 8.3, 103: 6.9, 105: 9.0, 108: 5.8}
print("Original Dictionary --> ", Grades)

Grades[103] = 8.0
print("After Updating (103) --> ", Grades)

Grades[106] = 7.2
print("After Adding (106)   --> ", Grades)

del Grades[101]
print("After Deleting (101) --> ", Grades)

Grades.clear()
print("After Clear          --> ", Grades)

del Grades
try:
    print("After Delete         --> ", Grades)
except NameError:
    print("Grades dictionary no longer exists.")

**12.5 Checking for Key in Dictionary**

In [ ]:
Grades = {101: 7.5, 102: 8.3, 103: 6.9, 105: 9.0, 108: 5.8}
print("Original Dictionary --> ", Grades)
print("Is Key 102 Present  --> ", 102 in Grades)
print("Is Key 110 Present  --> ", 110 in Grades)

**13.1 Declare Tuple**

In [ ]:
T = ("Squid", "Game", 2.71, 7)

print("T               -->", T)
print("Num of elements -->", len(T))
print("Type of Object  -->", type(T))

**13.2 Tuple Iteration**

In [ ]:
T = ("John", "Wick", 2.71, 7)
print("T -->", T)

i = 0
while i < len(T):
    print(T[i])
    i += 1

**13.3 Tuple iteration using for loop**

In [ ]:
T = ("Bob", "Uncle", 2.71, 8)
print("T -->", T)

for i in range(0, len(T)):
    print(T[i])

**13.4 Tuple iteration using for loop**

In [ ]:
T = ("Inception", "Avatar", "Titanic", "The Matrix")
print("T -->", T)

for movie in T:
    print(movie)

**13.5 Accessing/Selecting in Tuple**

In [ ]:
T = (2000, 2003, 2008, 2012, 2015, 2018)
print("T     -->", T)

print("T[1]  -->", T[1])
print("T[2]  -->", T[2])
print("T[-1] -->", T[-1])
print("T[-2] -->", T[-2])

**13.6 Sum/Average of Tuple**

In [ ]:
T = (30, 32, 29, 31, 28, 35, 33)
print("T       -->", T)
print("Sum     -->", sum(T))
print("Average -->", sum(T)/len(T))
print("Average (Integer) -->", sum(T)//len(T))

**13.7 Min/Max in Tuple**

In [ ]:
T = ("India", "Australia", "Brazil", "Canada")
print("T   -->", T)
print("Max -->", max(T))
print("Min -->", min(T))

**13.8 Merging Tuples**

In [ ]:
T1 = (4, 7, 10)
T2 = (15, 8, 4, 1)

print("T1 -->", T1)
print("T2 -->", T2)

T3 = T1 + T2
print("T3 -->", T3)

T4 = T1 + T2 + T1 + T2
print("T4 -->", T4)

**13.9 Merging part of Tuples**

In [ ]:
T1 = (3, 6, 9)
T2 = (12, 5, 3, 2)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1[1:2] + T2[1:3]
print ("T3 -->", T3)

T4 = T1[:-2] + T2[:-3]
print ("T4 -->", T4)

**13.10 Searching in the tuple**

In [ ]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)

print ("6  in T -->", 6 in T)
print ("10 in T -->", 10 in T)
print ("12 in T -->", 12 in T)

**13.12 Adding element to Tuple - (Jugaad)**

In [ ]:
T = ("Alice", "Wonderland", 2.71, 7)
print("T         -->", T)

T1 = list(T)
T1.append(5.5)
T = tuple(T1)

print("After Add -->", T)

**13.15 Deleting from Tuple - (Jugaad)**

In [ ]:
T = ("India", "Australia", "Brazil", "Canada")
print("T            -->", T)

T1 = list(T)
del T1[1]  # Deleting the element at index 1
T = tuple(T1)

print("After Delete -->", T)

**14.1 Declare Set**

In [ ]:
s = set([1, 2, 3, 4, 2, 3])
print("Original set           --> ", s)
print("Num of elements in set --> ", len(s))

**14.2 Opertions on Sets**

In [ ]:
a = set([1, 2, 3, 4])
b = set([3, 4, 5, 6])
print("Original set a      --> ", a)
print("Original set b      --> ", b)
print("Union of a and b    --> ", a.union(b))
print("Intersection of a,b --> ", a.intersection(b))
print("Difference a - b    --> ", a - b)
print("Difference a - b    --> ", a.difference(b))
print("Difference b - a    --> ", b - a)
print("Difference b - a    --> ", b.difference(a))
print("Symmetric Diff a - b --> ", a.symmetric_difference(b))
print("Symmetric Diff b - a --> ", b.symmetric_difference(a))

**14.3 Add, delete, pop element from set**

In [ ]:
a = set(['A', 'B', 'E', 'F' ])
print ("Original set a       --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.add("D")
print ("Set After Adding (D) --> ", a)
a.remove("D")
print ("Set After Deleting(D)--> ", a)
a.pop()
print ("Set After pop        --> ", a)
a.pop()
print ("Set After pop        --> ", a)

**15.1 Add two numbers given at cmd line**

In [ ]:
import sys

if len(sys.argv) != 3:
    print("Usage: python add_two_numbers.py <num1> <num2>")
    sys.exit(1)

num1 = float(sys.argv[1])
num2 = float(sys.argv[2])

result = num1 + num2

print(f"{num1} + {num2} = {result}")

**15.2 Concatinate two strings given at cmd line**

In [ ]:
import sys
print(sys.argv)  # Prints the list of command-line arguments

s = sys.argv[1] + " " + sys.argv[2]  # Concatenating the two arguments with a space
print(sys.argv[1], " + ", sys.argv[2], " --> ", s)

**15.3 Add all the numbers given at cmd line**

In [ ]:

import sys
print (sys.argv)
sum=0
for s in sys.argv[1:]:
	sum += int(s)

print ("Sum is --> ", sum)

**16.1 Writing 1 to 10 in file**

In [ ]:
fp = open('result.txt', 'w')
for i in range(1, 11):
    fp.write(str(i) + "\n")
fp.close()

print("Writing done !! \nOpen result.txt to view the content")

**16.2 Read a file and print its content**

In [ ]:
fp = open('result.txt')
lines = fp.readlines()
for line in lines:
    print(line.strip())
fp.close()

**16.3 Read from one file, Convert it to upper case and write to other file**

In [ ]:
Readfp = open('result.txt')
Writefp = open('abc.txt', 'w')

for line in Readfp:
    Writefp.write(line.upper())

Writefp.close()
Readfp.close()

print("Writing done !! \nOpen abc.txt to view the content")